:root {
    --bg-color: #111319;
    --second-bg: #847DFF;
    --text-color: white;
}


#User {
    width: 379px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 23px;
    background: #fb7aff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#submit {
    width: 379px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 23px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}


.textbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body {
    background-color: var(--bg-color);

}

#Box {
    height: 100px;
    width: 60px;
    transform: rotate(0.225deg);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-bg);
}

#logo {
    color: #FFF;
    text-shadow: 0px 4px 4px #554CFF;
    font-family: "permanent marker", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 10px;
    min-height: auto;
    transform: rotate(-9.887deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    border: none;
    padding: none;
}